/* body */
   body 
   {
  	background-color: white;
   }
   
/* headings */
   h1
   {
    /*border: 1px solid;*/
    text-align: center;
    font-size: 35px;
   }

/* standard inputs */
   input[type=email], input[type=password]
   {
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
    width: 80%;
    height: 30px;
   }
   
   input[type=button], input[type=submit], input[type=reset]
   {
    background-color: rgb(33, 116, 255);
    border: 5px solid rgb(33, 116, 255);
    border-radius: 5px;
    font-size: 22px;
    width: 35%;
   }
  
/* sign in form */
   .form
   {
    background-color: rgb(113, 178, 255);
    border: 5px solid rgb(33, 116, 255);
    border-radius: 25px;
    /* alignment */
       margin: 0;
       position: absolute;
       top: 45%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 500px;
       height: 275px;
   } 
   
/* inputs attributes */
   .inputs
   {
    /*border: 1px solid;*/
    /*padding: 10px;*/
    padding-bottom: 20px;
    text-align: center;
   }
   
/* buttons attributes */
   .buttons
   {
    /*border: 1px solid;*/
    margin: auto;
    text-align: center;
    padding: 5px;
    width: 70%;
   }
  
  
